/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.font-main {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
}
button {
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}
h1,
h2,
h3,
p {
  line-height: 1.4;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.64rem;
}
p {
  font-size: 1.6rem;
}
header {
  top: 0;
  width: 100%;
  background-color: #1e9df7;
  color: #fff;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    position: fixed;
  }
}
header #nav-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media (min-width: 800px) {
  header #nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
header #nav-left .fas {
  font-size: 6rem;
  margin: 0 2rem;
}
header #nav-left nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 800px) {
  header #nav-left nav {
    display: flex;
    flex-direction: row;
    justify-content: space-betweem;
    align-items: center;
  }
}
header #nav-left nav .nav-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 2rem 1rem;
}
header #nav-left nav .nav-item:hover {
  background-color: #fff;
}
header #nav-left nav .nav-item:hover a {
  color: #1e9df7;
}
header #nav-left nav .nav-item a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
}
header #nav-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem;
}
header #nav-right button {
  color: #1e9df7;
  background-color: #fff;
  border: 0.5rem solid #f1f5f9;
  padding: 1rem 4rem;
  font-size: 3rem;
  border-radius: 1rem;
  margin-right: 2rem;
  font-weight: 600;
}
header #nav-right button:hover {
  color: #fff;
  background-color: #1e9df7;
}
@media (min-width: 800px) {
  #main-container {
    margin-top: 8rem;
  }
}
#main-container #intro-jumbo {
  width: 100%;
  padding: 3rem 4rem;
  background-color: #1e9df7;
  color: #fff;
}
#main-container .mini-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
}
@media (min-width: 800px) {
  #main-container .mini-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
#main-container .mini-panel-container .mini-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  background-color: #f1f5f9;
}
#main-container .mini-panel-container .mini-panel .fas {
  font-size: 4rem;
  color: #1e9df7;
}
#main-container .mini-panel-container .mini-panel h3 {
  margin: 1rem;
}
#main-container .mini-panel-container .mini-panel p {
  color: #777;
}
#main-container .panel-and-picture-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  background-color: #f1f5f9;
}
@media (min-width: 800px) {
  #main-container .panel-and-picture-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
#main-container .panel-and-picture-container .panel {
  width: 100%;
}
@media (min-width: 800px) {
  #main-container .panel-and-picture-container .panel {
    width: 50%;
  }
}
#main-container .panel-and-picture-container .panel h3 {
  margin: 1rem 0;
}
#main-container .panel-and-picture-container .panel p {
  color: #777;
  margin: 1rem 0;
}
#main-container .panel-and-picture-container .panel button {
  color: #fff;
  background-color: #1e9df7;
  border: 0.2rem solid #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
#main-container .panel-and-picture-container .picture {
  width: 100%;
}
@media (min-width: 800px) {
  #main-container .panel-and-picture-container .picture {
    width: 50%;
  }
}
#main-container .panel-and-picture-container .picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
}
