/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  flex-wrap: wrap;
  background-color: #1e9df7;
}
.tabs .tabs-link {
  padding: 2rem;
  font-size: 2rem;
  background-color: #1e9df7;
  color: #fff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #fff;
  color: #1e9df7;
}
.tabs .tabs-link-selected {
  z-index: 2;
  background-color: #f1f5f9;
  color: #1e9df7;
  font-weight: 600;
}
.font-main {
  font-family: 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h3,
p,
a,
div {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.64rem;
}
p {
  font-size: 1.6rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: #1e9df7;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 1024px) {
  header {
    height: 15rem;
    position: fixed;
  }
}
header img {
  max-height: 100%;
}
@media (min-width: 1024px) {
  header img {
    margin-right: 2rem;
  }
}
header .about-button,
header .external-button {
  color: #fff;
  background-color: #1e9df7;
  border: 0.2rem solid #f1f5f9;
  padding: 1.4rem;
  font-size: 2rem;
  border-radius: 1rem;
  margin-right: 2rem;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 1024px) {
  header .about-button,
  header .external-button {
    font-size: 3rem;
  }
}
header .about-button:hover,
header .external-button:hover {
  color: #1e9df7;
  background-color: #fff;
}
@media (min-width: 1024px) {
  #main-container {
    margin-top: 15rem;
  }
}
#main-container #intro-jumbo {
  width: 100%;
  padding: 4rem;
  background-color: #1e9df7;
  color: #fff;
}
#main-container .mini-panel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
}
@media (min-width: 1024px) {
  #main-container .mini-panel-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
#main-container .mini-panel-container .mini-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f1f5f9;
}
@media (min-width: 1024px) {
  #main-container .mini-panel-container .mini-panel {
    max-width: 30%;
  }
}
#main-container .mini-panel-container .mini-panel .fas {
  font-size: 4rem;
  color: #1e9df7;
}
#main-container .mini-panel-container .mini-panel h3 {
  margin: 1rem;
}
#main-container .mini-panel-container .mini-panel p {
  color: #777;
}
#main-container .panel-and-picture-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 2rem;
  background-color: #f1f5f9;
}
@media (min-width: 1024px) {
  #main-container .panel-and-picture-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
#main-container .panel-and-picture-container .panel {
  width: 100%;
}
@media (min-width: 1024px) {
  #main-container .panel-and-picture-container .panel {
    width: 50%;
    padding: 1rem;
  }
}
#main-container .panel-and-picture-container .panel h3 {
  margin: 1rem 0;
}
#main-container .panel-and-picture-container .panel p {
  color: #777;
  margin: 2rem 0;
}
#main-container .panel-and-picture-container .panel a {
  text-decoration: none;
  margin-top: 1rem;
  color: #fff;
  background-color: #1e9df7;
  border: 0.2rem solid #fff;
  padding: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
}
#main-container .panel-and-picture-container .panel a:hover {
  color: #1e9df7;
  background-color: #fff;
  border: 0.2rem solid #1e9df7;
}
#main-container .panel-and-picture-container .picture {
  width: 100%;
}
@media (min-width: 1024px) {
  #main-container .panel-and-picture-container .picture {
    width: 50%;
    padding: 1rem;
  }
}
#main-container .panel-and-picture-container .picture img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2rem;
}
#main-container .about-us {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
#main-container .section {
  width: 80%;
  margin: 45px auto;
  display: flex;
  background-color: #f1f5f9;
}
#main-container .section .box {
  padding: 40px;
}
#main-container .section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
#main-container .section .tabs .tabs-items .tabs-item .tabs-item-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 4rem;
}
#main-container .section .tabs .tabs-items .tabs-item .tabs-item-description .item-left {
  max-width: 40%;
  margin-right: 5%;
}
#main-container .section .tabs .tabs-items .tabs-item .tabs-item-description .item-left img {
  max-height: 100%;
  max-width: 100%;
}
#main-container .section .tabs .tabs-items .tabs-item .tabs-item-description .item-right {
  max-width: 55%;
}
