@import './CSSReset.less';
@import './tabs/tabs.less';

@palette-teal: #66afba;
@palette-white: #fff;
@palette-yellow: #fbcc99;
@pallete-red: #d72f29;
@palette-blue: #1e9df7;
@palette-light-gray: #f1f5f9;
@palette-gray: #777;
@lambda-red: rgb(147,29,37);
@lambda-light-red: lighten(@lambda-red,10%);
@white: rgb(255,255,255);

@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1024px)";

.font-main {
  font-family: 'Montserrat', sans-serif;
}

.flex(@d, @j, @a) {
  display: flex;
  flex-direction: @d;
  justify-content: @j;
  align-items: @a;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, p {
  .font-main;
  line-height: 1.4;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size:3.2rem;
}
h3 {
  font-size: 2.64rem;
}
p {
  font-size: 1.6rem;
}

// *** This code was for a previous header bar.

header {
  @media @tablet {
    
  }
  @media @desktop {
    height: 20rem;
    position: fixed;
  }
  .flex(row, center, center);
  top: 0;
  width: 100%;
  background-color: @palette-blue;
  color: @palette-white;
  font-size: 4rem;
  .font-main;
  img {
    @media @desktop {
      margin-right: 2rem;
    }
    max-height: 100%;
  }
  a {
    color: @palette-blue;
    background-color: @palette-white;
    border: 0.5rem solid @palette-light-gray;
    padding: 1.4rem;
    font-size: 3rem;
    border-radius: 1rem;
    margin-right: 2rem;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: @palette-white;
      background-color: @palette-blue;
    }
  }
}

#main-container {
  @media @tablet {
    
  }
  @media @desktop {
    margin-top: 20rem;
  }
  
  #intro-jumbo {
    width: 100%;
    padding: 8rem 4rem 4rem 4rem;
    background-color: @palette-blue;
    color: @palette-white;
  }
  .mini-panel-container {
    @media @tablet {
      
    }
    @media @desktop {
      .flex(row, space-around, stretch);
    }
    
    .flex(column, center, center);
    width: 100%;
    padding: 3rem 2rem;

    .mini-panel {
      .flex(column, center, center);
      margin: 2rem;
      padding: 1rem;
      border-radius: 1rem;
      background-color: @palette-light-gray;

      .fas {
        font-size: 4rem;
        color: @palette-blue;
      }
      h3 {
        margin: 1rem;
      }
      p {
        color: @palette-gray;
      }
    }
  }

  .panel-and-picture-container {
    @media @tablet {
      
    }
    @media @desktop {
      .flex(row, space-between, center);
    }
    .flex(column-reverse, center, center);
    width: 100%;
    padding: 3rem 2rem;
    background-color: @palette-light-gray;

    .panel {
      @media @tablet {
        
      }
      @media @desktop {
        width:50%;
        padding: 1rem;
      }
      width: 100%;
      h3 {
        margin: 1rem 0;
      }
      p {
        color: @palette-gray;
        margin: 2rem 0;
      }
      a {
        text-decoration: none;
        margin-top: 1rem;
        color: @palette-white;
        background-color: @palette-blue;
        border: 0.2rem solid @palette-white;
        padding: 1rem;
        font-size: 2rem;
        border-radius: 0.5rem;
        &:hover {
          color: @palette-blue;
          background-color: @palette-white;
          border: 0.2rem solid @palette-blue;
        }
      }
    }
    .picture {
      @media @tablet {
        
      }
      @media @desktop {
        width: 50%;
        padding: 1rem;
      }
      width: 100%;
      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 2rem;
      }
    }
  }

  .about-us {
    width: 100%;
    .flex(row, center, center);
    margin-top: 3rem;
  }

  .section {
    width: 80%;
    margin: 45px auto;
    display: flex;
    background-color: @palette-light-gray;
    // overflow: hidden;
    .box {
      padding: 40px;
      .box-title {
        font-size: 24px;
        padding-bottom: 10px;
        font-weight: bold;
      }
    }
    .tabs {
      .tabs-items {
        .tabs-item {
          .tabs-item-description {
            .flex(row, flex-start, center);
            padding-bottom: 4rem;
            .item-left {
              // border: 1px solid red;
              max-width: 45%;
              margin-right: 5%;
              img {
                // border: 1px solid red;
                max-height: 100%;
                max-width: 100%;
              }
            }
            .item-right {
              max-width: 45%;
              // border: 1px solid red;
            }
          }
        }
      }
    }
  }

}