.tabs {
  width: 100%;
  .tabs-items {
    width: 100%;
    // height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs-item {
    display: none;
    width: 75%;
  }
  .tabs-item-selected {
    display: block;
  }
  .tabs-links {
    display: flex;
    background-color: @palette-blue;
  }

  .tabs-link {
    padding: 2rem;
    font-size: 2rem;
    background-color: @palette-blue;
    color: @palette-white;
    cursor: pointer;
    &:hover {
      background-color: @palette-white;
      color: @palette-blue;
    }
  }
  .tabs-link-selected {
    z-index: 2;
    background-color: @palette-light-gray;
    color: @palette-blue;
    font-weight: 600;
  }
}


